# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# Environnement
venv/

# Data (géré par DVC)
/data/raw_data/
/data/processed_data/
/data/predictions.csv

# Models (géré par DVC)
/models/
*.pkl

# Metrics
/metrics/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db